.flex-wrapper {
  display: flex;
  height: 100vh;
}

.linke-navigation {
  padding: 8px;
  background-color: #fff;
}

.content {
  background-color: #fafafa;
  padding: 0 16px 8px 16px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

mat-expansion-panel {
    width: 350px;
}

.mat-expansion-panel-header {
  padding: 8px 16px;
}

mat-panel-title {
  flex-direction: column;
}

.star {
  color: gray;
  margin-top: 2px;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}