@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background-color: #fff;
}

.foo {
  max-width: 100%;
}

.globale-navigation {
  border-bottom: 1px solid #dadada;
  padding: 8px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.linke-navigation {
  border-right: 1px solid #dadada;
}

.nav-header {
  display: flex;
  justify-content: flex-end;
}


/**  Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */