@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  color: #fff;
}
mat-expansion-panel {
    width: 350px;
}
.foo {
  max-width: 90%;
}
mat-panel-title {
  flex-direction: column;
}

.star {
  color: gray;
}

.linke-navigation {
  border-right: 1px solid #dadada;
}


/**  Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */